{{!--     
    {{#if loggedIn}} --}}
    <body class="bg-gray-100 text-gray-700  font-sans quicksand">

        <div class="p-0 max-w-full">
          <div class="grid md:grid-cols-2 sm:grid-cols-1 lg:grid-cols-1 m-5 mb-10">
      
      
                  <div class="bg-white overflow-hidden hover:bg-green-100 border border-gray-200 p-3">
              <div class="m-2 text-justify text-sm">
                  <p class="text-right text-xs">{{format_date date_created}}</p>
                  <h2 class="font-bold text-lg h-2 mb-8">{{post_title}} </h2>
                  <p class="text-xs">
                  {{post_text}}
                  </p>
      
              </div>
              <div class="w-full text-right mt-4">
                <a class="text-green-400 uppercase font-bold text-sm" href="/posts/{{id}}">{{comments.length}} Comments</a>
              </div>
          </div>
      </body>
    {{!-- {{else}}
        <body class="bg-gray-100 text-gray-700  font-sans quicksand">

        <div class="p-0 max-w-full">
          <div class="grid md:grid-cols-2 sm:grid-cols-1 lg:grid-cols-1 m-5 mb-10">
      
      
                  <div class="bg-white overflow-hidden hover:bg-green-100 border border-gray-200 p-3">
              <div class="m-2 text-justify text-sm">
                  <p class="text-right text-xs">{{date_created}}</p>
                  <h2 class="font-bold text-lg h-2 mb-8">{{post_title}} </h2>
                  <p class="text-xs">
                  {{post_text}}
                  </p>
      
              </div>
              <div class="w-full text-right mt-4">
              </div>
          </div>
      </body>
      {{/if}} --}}