
  {{#if posts.length}}
{{#each posts as |post|}}
   <body class="bg-gray-100 text-gray-700  font-sans quicksand">

        {{!-- <div class="p-0 max-w-full m-1"> --}}
          <div class="grid md:grid-cols-2 sm:grid-cols-1 lg:grid-cols-1 mb-10 margin: 4px">
      
      
                  <div class="bg-white overflow-hidden hover:bg-green-100 border border-gray-200 p-3 width: 90%">
              <div class="m-2 text-justify text-sm width: 90%">
                  <p class="text-right text-xs">{{format_date date_created}}</p>
                  <p class="text-right text-xs">{{user.username}}</p>
                  <h2 class="font-bold text-lg h-2 mb-8">{{post_title}} </h2>
                  <p class="text-xs">
                  {{post_text}}
                  </p>
      
              </div>
              <div class="w-full text-right mt-4">
                <a class="text-green-400 uppercase font-bold text-sm text-left pr-6" href="edit/{{id}}">Edit</a>
                <a class="text-green-400 uppercase font-bold text-sm text-right" href="/posts/{{id}}">Comments</a>
            </div>
          </div>
          {{/each}}
      </body>

{{else}}
<h6 class="font-bold text-center">You do not currently have any posts</h6>

{{/if}}

